nav {
    height: 8vh;
}

.bg-dark {
    background-color: #00254a !important;
}

.left-side {
    font-size: 3vh;
    color: white;
    font-weight: lighter;
}

.nav-link {
    color: #8c9aa9;
}

.nav-link:hover {
    color: white;
}

.right-side {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;

    height: 70%;
}

.right-side a {
    height: 100%;

    border-radius: 100rem;
    background-color: #3261C4;
    border: 0;
}

.right-side a:first-of-type {
    margin-right: 2%;
}
.right-side a:nth-of-type(2){
    margin-right: 2%;
}

.right-side a {
    color: white;
    font-size: 2vh;
}

.right-side a:hover {
    text-decoration: none;
}

.content {
    height: 90vh;
    padding: 3vh;
}

#lang {
    width: 8%;
    margin-left: 0.5%;
    margin-right: 0.5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#lang img {
    height: 100%;
    width: auto;
    border-radius: 50%;
    opacity: 0.5;
}

#lang img:hover {
    cursor: pointer;
}

#lang img.active {
    opacity: 1;
    cursor: default;
}
