<span *ngIf="event && availability && availability.venue" class="content">

  <div class="venue">

    <div class="selection" *ngIf="selectedDay">

      <div class="title">
        <div [ngClass]="{'canChangeDay': selectedDay.day > 1}" (click)="changeDay(selectedDay.day - 1)">
          <b>&lt;</b>
        </div>
        <div>
          <b [innerHTML]="'reservations.day' | translate: {day: selectedDay.day}"></b>
        </div>
        <div>{{english? ( selectedDay.date | date : 'MMMM d') : ( selectedDay.date | ptDate) }}</div>
        <div [ngClass]="{'canChangeDay': selectedDay.day < event.getDuration()}" (click)="changeDay(selectedDay.day + 1)">
          <b>&gt;</b>
        </div>
      </div>

      <div class="options">
        <div class="day" *ngFor="let day of selectedDay.allDays" [ngClass]="{'selected': day === selectedDay.day}"
          (click)="changeDay(day)" [innerHTML]="'reservations.day' | translate: {day: day}">
        </div>
      </div>

    </div>

    <div class="canvas-wrapper">

      <div class="canvas">
        <app-venue-image (standClick)="clickStandFromCanvas($event)" [maxHeight]="55" [state]="canvasState"></app-venue-image>
      </div>

      <div class="stands">

        <h6 [innerHTML]="'reservations.info' | translate"></h6>

        <div class="stands-list">
          <div class="stand" *ngFor="let stand of availability.venue.stands | sortStands" (mouseover)="selectStand(stand)"
            (mouseleave)="deselectStand(stand.id)" (click)="clickStand(stand.id, isFreeStand(stand.id))" [ngClass]="{'free': isFreeStand(stand.id), 'occupied': isOccupiedStand(stand.id), 'clickable': clickableStand(stand.id), 'pending': isPendingBook(stand.id), 'confirmed': isConfirmedBook(stand.id)}">
            {{stand.id + 1}}
          </div>
        </div>

      </div>

    </div>

    <div class="help">
      <a class="btn btn-info" [routerLink]="['/']" mat-icon-button [innerHTML]="'reservations.button' | translate"></a>
    </div>
  </div>

  <div class="reservations">

    <div class="title">
      <span> <b>{{credentials.companyName}}</b> {{ 'reservations.reservations' | translate }}</span>
    </div>

    <ng-container *ngIf="!showAllReservations && latestReservation">
      <div *ngIf="latestReservation.issued === undefined && latestReservation.stands.length < credentials.participationDays"
        class="missing">
        <h6 [innerHTML]="'reservations.remaining' | translate: {days: credentials.participationDays - latestReservation.stands.length}">
        </h6>
      </div>

      <div *ngIf="latestReservation" class="reservation">
        <app-reservation-card [reservation]="latestReservation" [event]="event" (removeStandEvent)="removePendingStand($event)"></app-reservation-card>
      </div>

      <div class="info">
        <div *ngIf="latestReservation && latestReservation.isPending() && latestReservation.issued !== undefined" class="action cancel">
          <button class="btn btn-danger" (click)="cancelReservation()" [innerHTML]="'reservations.cancel' | translate"></button>
        </div>

        <div *ngIf="latestReservation && latestReservation.issued === undefined && latestReservation.stands.length === credentials.participationDays"
          class="action submit">
          <button class="btn btn-primary" (click)="makeReservation(confirmReservationPopup)" [innerHTML]="'reservations.submit' | translate">Submit
            reservation</button>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="showAllReservations">
      <div class="allReservations">
        <div *ngFor="let reservation of reservations" class="reservation showAll">
          <app-reservation-card [reservation]="reservation" [event]="event" (removeStandEvent)="removePendingStand($event)"></app-reservation-card>
        </div>
      </div>
    </ng-container>

    <div class="history">
      <button *ngIf="showAllReservations" class="btn btn-primary" (click)="alternateShowAllReservations()" [innerHTML]=" 'reservations.current' | translate">
      </button>
      <button *ngIf="showAllReservations == false" class="btn btn-primary" (click)="alternateShowAllReservations()"
        [innerHTML]=" 'reservations.previous' | translate">
      </button>
    </div>


  </div>
</span>


<ng-template #confirmReservationPopup let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm Reservation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h6>
      {{ 'reservationWarning.msg1' | translate }}
      <b *ngIf="latestReservation.daysAreContiguous() === false">{{ 'reservationWarning.msg2' | translate }}</b>
      <span *ngIf="latestReservation.daysAreContiguous() === false && latestReservation.standIsSame() ===false"> {{
        'reservationWarning.msg3' | translate }}
      </span>
      <b *ngIf="latestReservation.standIsSame() === false">{{ 'reservationWarning.msg4' | translate }}</b>
    </h6>
    <h6>{{ 'reservationWarning.msg5' | translate }}</h6>
  </div>

  <div class="modal-footer">
    <button class="btn btn-danger" (click)="modal.close('Cancelled')">{{ 'reservationWarning.cancel' | translate }}</button>
    <button class="btn btn-success" (click)="modal.close('Confirmed')">{{ 'reservationWarning.confirm' | translate }}</button>
  </div>
</ng-template>